<div class="question" id='audience_question'>
  <div class="title">
    <span class='question_mark'>Q. </span>
    <span id='question_content'>
      Identify the author <br />
      <em>
	All that is gold does not glitter, <br/>
	Not all those who wander are lost;
      </em>
    </span>
  </div>
  <div class="answer">
    <% form_tag('/audience/save',:id => 'question_form') do -%>
      <%= hidden_field_tag 'question_id', '10'-%>
      <div id='answer_choices'>
	<div class='answer_option'>
	  <%= radio_button_tag 'gender', 'male' -%> Male
	</div>
	<div class='answer_option'>
	  <%= radio_button_tag 'gender', 'female' -%> Female
	</div>
	<div class='answer_option'>
	  <%= radio_button_tag 'gender', 'foo' -%> Foo
	</div>
	<div class='answer_option'>
	  <%= radio_button_tag 'gender', 'bar' -%> Bar
	</div>
      </div>
      <span class='more'> 
	<%= link_to('&nbsp;Submit&nbsp;','#',:id => 'submit_link') -%> 
      </span>
    <% end -%>
  </div>
</div>


