<div id="main_column" class="answer_screen">

  <h2>Question</h2>
  <p id='question_content'><%= @question.content -%></p>

  <h2>Pick an Answer</h2>
  <% form_tag('/audience/save',:id => 'question_form',:onsubmit => 'javascript:submitAnswer();return false;') do -%>
    <%= hidden_field_tag 'question_id', @question.id -%>
    <div id='answer_choices'>
      <% @question.answers.each do |answer| -%>
	<p><%= radio_button_tag 'answer', answer.id -%> <%= answer.content -%> </p>
      <% end -%>
    </div>
    <p><%= submit_tag "Done!"%></p>
  <% end -%>
</div>

<div id="sidebar">

</div>

