    <section id="new_question">
      <script type="text/javascript">
        jQuery(document).ready(function(){
         arr = jQuery('#rte').rte({
                css: ['/stylesheets/jquery.rte.css'],
                controls_rte: rte_toolbar
          });

        
          jQuery("#create_q_form").submit(function(){
//            console.log(jQuery("#rte body").html);
            jQuery("#question_content").val(jQuery("iframe").contents().find("body").html());
            jQuery.post(jQuery(this).attr("action"), jQuery(this).serialize(), function(){

              alert("Question Created!");

            }, "script");
            return false;
          });
        });
      </script>
      <div id="main_column">
        <h2>Question</h2>
        <div id="rte"></div>
        <h2>Answer Choices</h2>
        <% form_for @question, :url => questions_url, :html => {:id => "create_q_form"} do |f|%>
        <p><%= f.hidden_field :content%></p>
        <%f.fields_for :answers do |answer_fields|%>
          <p><%=answer_fields.radio_button :correct, true%><%= answer_fields.text_field :content %></p>
        <%end-%>
        <%= submit_tag "Create & Rotate Question"%> 
      <%end-%>

      </div>
      <div id="sidebar">
        <h2>Get Inspiration</h2>
        <form action="#" onsubmit="Quiz.generateIdeas(); return false;">
          <p><%= text_field_tag "idea_keyword"%><%=submit_tag "Generate Ideas"%></p>
        </form>
        <div id="question_ideas" class="art"></div>
        <div id="question_ideas_images" class="art"></div>
      </div>
    
     </section>


