<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Realtime Quiz</title>
  <link href="/stylesheets/screen.css" rel="stylesheet" type="text/css" media="screen" />
  <%= javascript_include_tag 'json2' -%>
  <%= javascript_include_tag "websocket", "jquery-1.4.2.min.js", "jquery-yql", "quiz",'jquery.rte','jquery.rte.tb' %>
  <%= javascript_include_tag 'application','roadtrip' -%>
  <%= stylesheet_link_tag 'roadtrip' -%>
</head>
<body>
  <header id="site_head"><!--useful to create the 960px limit-->

  <div class="header_cont">
	<h1><a href="#">mr. hurley</a></h1>
	
	<nav class="head_nav">
	  <ul>

	    <li class="home"><a href="#">Home</a></li>

	    <li><a href="#">About Me</a></li>
	    <li><a href="#">Portfolio</a></li>
	    <li><a href="#">Contact</a></li>
	  </ul>
	</nav>
      </div>
    </header>

    
    <div id="main_content"><!--useful to create the 960px limit-->
      <%= yield %>
      <footer class="bottom">
	<p>Contents and resources released under Creative Commons License.</p>

	<p>Design and code by Piervincenzo Madeo - 2010 Mr Hurley Theme - A free HTM5 and CSS3 template.</p>
      </footer>
    </div>

    
  </body>
</html>

